doctype html
html
  head
    title Account Created
    link(rel="stylesheet", href="/styles2.css")
  body
    .container
      h1 Account Created
      p Your account has been created successfully!
      a(href="/auth/login/info") Go to Login Page

