doctype html
html
  head
    title My Website
    // Include any CSS files or meta tags here
  body
    header
      h1 Welcome to My Website
      // Include any navigation menus or other header content here
    block content
    footer
      p Copyright © 2024 My Website
      // Include any footer content here
